.out_div{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	display: inline-block;
}
.inner_div{
	width: 45%;
	display: inline-block;
	padding-top: 10px;
}
.add{
	outline: none;
	text-decoration: none;
	font-size: 1.2em;
}
.add:link {
	text-decoration: none;
}